.range{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range label{
    text-align: center;
    font-size: 1.5rem;
}

.range span{
    text-align: center;
    font-size: 3rem;
}

.range span::after{
    content: attr(data-unidade);
    padding: 10px;
}

/*chrome*/
.range input[type='range'] {
    appearance: none;
    background-color: transparent;
}

.range input[type='range']::-webkit-slider-runnable-track{
    height: 5px;
    background-color: var(--light-color);
    cursor: pointer;
}

.range input[type='range']::-webkit-slider-thumb{
    appearance: none;
    height: 18px;
    width: 18px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translateY(-7.5px);
}

/*firefox*/
.range input[type='range']::-moz-range-track{
    height: 5px;
    background-color: var(--light-color);
}

.range input[type='range']::-moz-range-thumb{
    background-color: var(--primary-color);
}